.view_item {
    font-family: sans-serif;
    text-align: center;
}

.view_item > h1 {
    color: rgb(127, 195, 255);
}

.view_item > .content {
    display: flex;
}

.geralAttribute {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0 8px;
    justify-content: center;
}

.attribute {
    width: 130px;
    height: 100px;
    border: 1px solid black;
    padding: 16px;
    border-radius: 16px;
    background: #fafafa;


}